html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

#app {
  margin: 0 auto;
  max-width: 1440px;
  padding: 8px;
}

.content {
  margin-block-end: 1em;
  padding-left: 40px;
}

.content p {
  font-family: monospace, courier;
  font-size: 15px;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-align: justify;
}

.content p span {
  font-weight: 600;
}

.name .content p a:first-child {
  padding-right: 15px;
}

.name .content p a:nth-child(2) {
  padding: 0 15px;
}

.name .content p a:last-child {
  padding-left: 15px;
}

.title p {
  font-size: 18px;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #FAFAFA;
  }

  a {
    color: #e39777;
  }

  img {
    filter: invert(1);
  }
}
