html, body {
  height: 100%;
}

body {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

#app {
  margin: 0 auto;
  max-width: 1440px;
  padding: 8px;
}

.content,
.responsibilities {
  margin-block-end: 1em;
  padding-left: 50px;
}

.content p {
  font-family: monospace, courier;
  font-size: 16px;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-align: justify;
}

.content p span {
  font-weight: 600;
}

.name .content p a:first-child {
  padding-right: 15px;
}

.project img,
.name .content p a:not(:first-child):not(:last-child) {
  padding: 0 15px;
}

.name .content p a:last-child {
  padding-left: 15px;
}

.project {
  display: flex;
}

.responsibilities p span {
  font-style: italic;
}

.title h2 {
  font-size: 18px;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #FAFAFA;
  }

  a {
    color: #e39777;
  }

  img {
    filter: invert(1);
  }
}
